body {
    overflow: hidden;
    font-family: sans-serif;
}

a:link {
    color:#0000EE
}
a:active {
    color:#0000EE
}
a:visited {
    color:#0000EE
}
a:hover {
    color:#0000EE
}

canvas {
    border: 2px solid black
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.left-div {
    float: left;
    width: 900px;
    height: 900px;
    margin-right: 8px;
}
.right-div {
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: skyblue;
}